<!-- Contenido -->
<div class="card mat-card" id="first-card">

  <div id="profile-background">
      <div class="btn-edit" id="btn-edit-img-background" *ngIf="isAdmin">
          <button class="btn btn-sm btn-warning btn-right" [routerLink]="['/editabout/','backImg']"><i class="bi bi-pencil"></i></button>
      </div>
      <img class="background__image" [src]="miPortfolio.backImg" alt="" />
  </div>
  <!-- contenedor inferior -->
  <div id="info" style="padding: 16px">
      <!-- imgaen de perfil -->
      <div id="info-img">
          <div class="btn-edit" id="btn-edit-img-profile" *ngIf="isAdmin">
              <button class="btn btn-sm btn-warning btn-right" [routerLink]="['/editabout/','profileImg']"><i class="bi bi-pencil"></i></button>
          </div>
          <img [src]="miPortfolio.profileImg" alt="" class="profile-image" />
      </div>
      <!-- contenedor de la información -->
      <div id="info-data">
          <div>
              <h1>{{miPortfolio.name}}</h1>
              <div id="info-company">{{miPortfolio.location}}</div>
              <div id="info-contact">
                  <span>{{miPortfolio.ubication}}</span>
                  <span>Información de Contacto: </span>
                  <span>{{miPortfolio.email}}</span>
              </div>
              <div class="data-control" *ngIf="isAdmin">
                  <div class="btn-edit">
                      <button  class="btn btn-sm btn-warning btn-rigth" [routerLink]="['/editabout/','name']">
                          <i class="bi bi-pencil"></i>
                      </button>
                  </div>
              </div>
          </div>
          <ul id="info-details">
              <li *ngFor="let school of schools">
                  <a [href]="school.url">
                      <img [src]="school.image" alt="" />
                      <h2>{{school.name}}</h2>
                  </a>
                  <div class="data-control" *ngIf="isAdmin">
                      <div class="btn-edit">
                          <button class="btn btn-sm btn-warning btn-rigth">
                              <i class="bi bi-pencil"></i>
                          </button>
                      </div>
                      <div class="btn-delete">
                          <button class="btn btn-sm btn-danger btn-rigth" (click)="deleteSchool(school.id)">
                              <i class="bi bi-trash"></i>
                          </button>
                      </div>
                  </div>
              </li>
              <li *ngFor="let company of companys">
                  <a [href]="company.url">
                      <img [src]="company.image" alt="" />
                      <h2>{{company.name}}</h2>
                  </a>
                  <div class="data-control" *ngIf="isAdmin">
                      <div class="btn-edit">
                          <button class="btn btn-sm btn-warning btn-rigth">
                              <i class="bi bi-pencil"></i>
                          </button>
                      </div>
                      <div class="btn-delete">
                          <button class="btn btn-sm btn-danger btn-rigth" (click)="deleteCompany(company.id)">
                              <i class="bi bi-trash"></i>
                          </button>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="btn-add" *ngIf="isAdmin">
              <button class="btn btn-sm btn-success btn-rigth">
                  <i class="bi bi-plus-square"></i>
              </button>
          </div>
      </div>
      <div id="info-actions">
          <button type="button" class="btn btn-primary" *ngIf="isAdmin">
              Tengo interés en
          </button>
          <button type="button" class="btn btn-light" *ngIf="isAdmin">Añadir sección</button>
          <button type="button" class="btn btn-light" *ngIf="isAdmin">Más</button>
      </div>
  </div>
</div>
