<div class="card">
  <!-- Achievements -->
  <div id="experience">
    <div class="card-body">
      <div class="card-title">
        <h2>Proyectos</h2>
        <div class="btn-add" *ngIf="isAdmin">
          <button
            class="btn btn-sm btn-success btn-rigth"
            routerLink="/newachievement"
          >
            <i class="bi bi-plus-square"></i>
          </button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6" *ngFor="let logro of achievement">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ logro.name }}</h3>
              <div class="mb-1 text-muted">Fecha: {{ logro.releaseDate }}</div>
              <p class="mb-auto">Detalles: {{ logro.details }}</p>
              <a [href]="logro.url" class="stretched-link"><strong><i class="bi bi-link-45deg"></i></strong>Link</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <div class="data-control" *ngIf="isAdmin">
                <div class="btn-edit">
                  <button
                    class="btn btn-sm btn-warning btn-rigth"
                    [routerLink]="['/editachievement/', logro.id]"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                </div>
                <div class="btn-delete">
                  <button
                    class="btn btn-sm btn-danger btn-rigth"
                    (click)="deleteAchievement(logro.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
