<div class="card">
  <!-- Habilidades -->
  <div class="card-body">
    <div class="card-title">
      <h2>Habilidades</h2>
      <div class="btn-add" *ngIf="isAdmin">
        <button class="btn btn-sm btn-success btn-rigth" routerLink="/newskill">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>
    </div>
    
    <div class="container">
      <div class="row text-center row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let skill of skills" class="col text-center">
          <div class="card h-100 d-flex justify-content-center" id="elem">
            <div class="card-body">
              <img *ngIf="!(skill.image === 'none')" [src]="skill.image" class="card-img-top" alt="" />
              <div class="card-body align-items-center justify-content-center">
                <h3 class="card-title">{{ skill.name }}</h3>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    style="width: {{ skill.progress }}%"
                    attr.aria-valuenow="{{ skill.progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p></p>
                <div
                  class="data-control"
                  style="display: flex; justify-content: center"
                >
                  <div class="hstack gap-3" *ngIf="isAdmin">
                    <div class="btn-edit">
                      <button
                        class="btn btn-sm btn-warning"
                        [routerLink]="['/editskill/', skill.id]"
                      >
                        <i class="bi bi-pencil"></i>
                      </button>
                    </div>
                    <div class="btn-delete">
                      <button
                        class="btn btn-sm btn-danger"
                        (click)="deleteSkill(skill.id)"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
