/* You can add global styles to this file, and also import other style files */
#toast-container > div {
  opacity:1;
}

/* para mandar a la derecha los botones en los títulos de las tarjetas*/
.card-title{
  display: flex;
  justify-content: space-between;
}

/*para colocar a la derecha los botones*/
.btn-rigth{
  display: flex;
  align-self: flex-end;
  font-size: large;
}

div#info-img {
  position: relative;
  display: flex;
  align-items:center;
}

/* centrar el btn edit del perfil*/
div#info-img .btn-edit{
  top: -20px;
  left: 80px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;

}
div#info-img .btn-edit i{
  font-size: large;
}

/*Info data e info details */
div#info-data {
  display: flex;
  justify-content: space-between;
}
div#info-data h1{
  font-size: 1.8rem;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  word-wrap: break-word;
  word-break: break-all;
}
div#info-data ul#info-details{
  width: 250px;
  list-style: none;
  flex-shrink: 0;
}
div#info-data ul#info-details li a {
  color: black;
  display: flex;
  text-decoration: none;
}
div#info-data ul#info-details li a h2{
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
}
div#info-data ul#info-details li a img{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

div#info-data ul#info-details li .data-control a {
  color: white;
}

/* estilos para los botones info actions*/
div#info-actions {
  display: flex;
}
div#info-actions button{
  margin-right: 8px;
} 

.card{
  box-shadow: 1px 1px 3px 1px rgba(88, 88, 88, 0.5);
}

/*margenes laterales para la tarjeta*/
.card {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 10px;
}

/*estilos para el div item list*/
ul.items-list {
  list-style: none;
}
ul.items-list li {
  display: flex;
  margin: 10px 0;
}
ul.items-list li div.data-container{
  flex-grow: 1;
  display: flex;
  color: black;
}
ul.items-list li div.data-container p{
  margin-bottom: 0;
}

/* estilo para la imagen del div data container*/
.data-container .logo-image-container .logo-image{
  width:100px;
  height: 100px;
  margin-right: 8px;
}
button {
  margin: 3px 3px 3px 3px;
}
button i{
  font-size: larger;
}